<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040309630083-0g6noudlrb8u89hovujcleh2cvbuf3i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040309630083-0g6noudlrb8u89hovujcleh2cvbuf3i1</string>
	<key>API_KEY</key>
	<string> your google API /string>
	<key>GCM_SENDER_ID</key>
	<string>1040309630083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BigWells.EasyGolfMap</string>
	<key>PROJECT_ID</key>
	<string>easygolfmap</string>
	<key>STORAGE_BUCKET</key>
	<string>easygolfmap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040309630083:ios:9b4da0a885e9a233b157b6</string>
</dict>
</plist>